<app-sidebar></app-sidebar>
<div class="emp" style="padding-left: 260px;"> 
   <h1 class="center-snackbar">Department ::::: {{departmentName}}</h1>
  <mat-card >
    <mat-nav-list *ngFor="let employee of employeeList">
      <div *ngIf="employee.empDept == departmentName">
          <mat-list-item>
              <a matLine>Employee Name :::::: {{ employee.empName }}</a>
              <a matLine>Employee Contact ::::::: {{ employee.empContact }}</a>
              <a matLine>Employee Email ::::::: {{ employee.empEmail }}</a>
              <a matLine>Department ::::::: {{ employee.empDept }}</a>
              <a matLine>Designation ::::::: {{ employee.empDesignation }}</a>
              <a matLine>Qualifications ::::::: {{ employee.empEdu }}</a>
              <a matLine>Gender ::::::: {{ employee.empGender }}</a>
              <a matLine>Starting Date ::::::: {{ employee.startDate }}</a>
            </mat-list-item>
      </div>
    </mat-nav-list>
  </mat-card>
</div>