<app-sidebar></app-sidebar>
<div class ="emp" style="padding-left: 260px;">
  <mat-card class = "card">
      <div class = "menu">
          <div class="card-header card-header-danger" >
              <h3 class="card-title" style="color: whitesmoke"><b>Employee Information</b></h3>
              <p class="card-category" style="color:whitesmoke"> <b>Complete Employee Information</b></p>
          </div>
          <br>
      </div>
      <!-- <div class="row"> -->
            <!-- <div class="col-md-6"> -->
              <mat-card class="card1">
                         
              <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
              <input type="hidden" name="id" #id="ngModel" [(ngModel)]="employee.id">

                  <mat-form-field appearance="outline">
                      <mat-label> <b>Employee ID</b></mat-label>
                      <input matInput name="empID" #empID="ngModel" class="form-control"    [(ngModel)]="employee.empID" placeholder="" required maxlength="10"  minlength="10" pattern="^[a-zA-Z0-9]+$">
                      
                       <div *ngIf="empID.invalid && empID.touched"><br>
                        
                        <span *ngIf="empID.errors.required"   class="validation-error ">EmployeeId is required field</span>
                        <span *ngIf="empID.errors.minlength"  class="validation-error " >Minimum character should be 10</span>
                        <span *ngIf="empID.errors.pattern"   class="validation-error">Invalid Employee Id</span>

                       </div> 
                      </mat-form-field>

                  <mat-form-field appearance="outline">
                      <mat-label><b>Employee Name</b></mat-label>
                      <input matInput name="empName" #empName="ngModel" class="form-control" [(ngModel)]="employee.empName" placeholder="" required pattern="^[a-zA-Z ]+$">
                      <div *ngIf="empName.invalid && empName.touched"><br>

                        <span *ngIf="empName.errors.required"   class="validation-error ">Employee Name is required field</span>
                        <span *ngIf="empName.errors.pattern"   class="validation-error">Enter valid name</span>
                      </div>  
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label><b>Department</b></mat-label>
                    <mat-select name="empDept"#empDept="ngModel" class="form-control" [(ngModel)]="employee.empDept" placeholder="" required>
                          <mat-option value="Sales">Sales</mat-option>  
                          <mat-option value="IT">IT</mat-option> 
                          <mat-option value="Inventory">Inventory</mat-option> 
                          <mat-option value="Management" selected>Management</mat-option>
                    </mat-select>
                    <div *ngIf="empDept.invalid && empDept.touched" class="validation-error">This field is required.</div>    
                </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label><b>Designation</b></mat-label>
                    <input matInput name="empDesignation" #empDesignation="ngModel" class="form-control"  [(ngModel)]="employee.empDesignation" placeholder="" required  pattern="^[a-zA-Z ]+$">
                    <div *ngIf="empDesignation.invalid && empDesignation.touched"><br>

                      <span *ngIf="empDesignation.errors.required"   class="validation-error ">Designation is required field</span>
                      <span *ngIf="empDesignation.errors.pattern"   class="validation-error">Enter valid Designation</span>
                    </div> 
                </mat-form-field>

                  <mat-form-field appearance="outline">
                      <mat-label><b>Address</b></mat-label>
                      <input matInput name="empAddress" #empAddress="ngModel" class="form-control"  [(ngModel)]="employee.empAddress" placeholder="">
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                      <mat-label><b>Contact No</b></mat-label>
                      <input matInput name="empContact" #empContact="ngModel" class="form-control" [(ngModel)]="employee.empContact" placeholder="" required maxlength="10" minlength="10" pattern="^[0-9]+$">
                      <div *ngIf="empContact.invalid && empContact.touched"><br>

                        <span *ngIf="empContact.errors.required"   class="validation-error ">Contact is required field</span>
                        <span *ngIf="empContact.errors.minlength"   class="validation-error">Minimum character should be 10</span>
                        <span *ngIf="empContact.errors.pattern"   class="validation-error">Enter valid Designation</span>
                      </div>  
                    </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label><b>Employee Email</b></mat-label>
                    <input matInput name="empEmail" #empEmail="ngModel" class="form-control" [(ngModel)]="employee.empEmail" placeholder="" required email>
                    <div *ngIf="empEmail.invalid && empEmail.touched"><br>
                      <span *ngIf="empEmail.errors.required"   class="validation-error ">Email is required field</span>
                      <span *ngIf="empEmail.errors.email"   class="validation-error">Enter valid Email</span>
                    </div>
                  </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label><b>Date of Birth</b></mat-label>
                  <input matInput name="birthday" #birthday="ngModel" class="form-control" [(ngModel)]="employee.birthday" placeholder="Choose a date" maxlength="10" type="date" >
                  <div *ngIf="birthday.invalid && birthday.touched" class="validation-error">This field is required.</div> 
                  <mat-datepicker-toggle matSuffix [for]="fdate"></mat-datepicker-toggle>      
                </mat-form-field>

                  <mat-form-field appearance="outline">
                      <mat-label><b>Gender</b></mat-label>
                  <mat-select name="empGender" #empGender="ngModel" class="form-control"  [(ngModel)]="employee.empGender"> 
                          <mat-option value="Male" selected >Male</mat-option>  
                          <mat-option value="Female" selected >Female</mat-option>
                  </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                      <mat-label><b>Work Started Date</b></mat-label>
                      <input matInput name="startDate" #startDate="ngModel" class="form-control"   [(ngModel)]="employee.startDate" placeholder="Choose a date" required type="date">
                      <div *ngIf="startDate.invalid && startDate.touched" class="validation-error">This field is required.</div>
                      <mat-datepicker-toggle matSuffix [for]="fdate"></mat-datepicker-toggle>      
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label><b>Educational Qualification</b></mat-label>
                    <input matInput name="empEdu" #empEdu="ngModel" class="form-control"  [(ngModel)]="employee.empEdu" placeholder="">
                </mat-form-field>
                <input type="file" (change)="upload($event)" accept=".png,.jpg,.txt"/>

                  <mat-card-actions>
                          <div class="form-group">
                          <button class="btn btn-lg btn-block btn-wrp" type="submit" [disabled]="form.invalid" >SUBMIT</button>    
                          </div>
                  </mat-card-actions>  
                  
              </form>
            </mat-card>
            <!-- </div> -->
                 
          <!-- </div> -->
          
    </mat-card>
</div>
