<app-sidebar></app-sidebar>
<div class ="emp" style="padding-left: 260px;">
    <mat-card class = "formcard">
        <div class = "menu">
            <div class="card-header card-header-danger" style="background-color:whitesmoke">
                <h2 class="card-title"><b>Supplier Information</b></h2>
                <p class="card-category" style="color: black"> <b>Complete Supplier Information</b></p>
            </div>
            <br><br>
        </div>

        <mat-card class="card1">
          
        </mat-card>
      
    </mat-card>  
</div>
