<!-- <div class="logo">
    <app-side-bar></app-side-bar>
    <a href="https://www.creative-tim.com" class="simple-text">
       <b> The London Cut </b>
    </a>
</div>
<div class="sidebar-wrapper"> -->

  <!-- <div *ngIf="isMobileMenu()">
    <form class="navbar-form">
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
    </form>
    <ul class="nav navbar-nav nav-mobile-menu">
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">
                <i class="material-icons">dashboard</i>
                <p>
                    <span class="d-lg-none d-md-block">Stats</span>
                </p>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">notifications</i>
                <span class="notification">5</span>
                <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">
                <i class="material-icons">person</i>
                <p>
                    <span class="d-lg-none d-md-block">Account</span>
                </p>
            </a>
        </li>
    </ul>
  </div> -->

  
    <!-- <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div> -->


<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
  
      Tip 2: you can also add an image using data-image tag
  -->

    <div class="logo" style="background-image: url('assets/img/back2.jpg') ">
      <a [routerLink]="['/']" class="simple-text logo-normal">
        <b>The-London-Cut</b>
      </a>
    </div>
    <div class="sidebar-wrapper" >
      <ul class="nav">
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/adminLayout']" >
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
       
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/employee-management']">
            <i class="material-icons">person</i>
            <p>Employee Management</p>
          </a>
        </li>

        <li class="nav-item ">
            <a class="nav-link" [routerLink]="['/employee-list']">
              <i class="material-icons">content_paste</i>
              <p>Employee Profile</p>
            </a>
          </li>
        
        <!-- <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/employee']">
            <i class="material-icons">face</i>
            <p>Employees</p>
          </a>
        </li> -->
        <!-- <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/appointment']">
            <i class="material-icons">Appointment</i>
            <p>Appointment</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="">
            <button >
            <i class="material-icons">exit_to_app</i>
            <input type="button" (click)="onLogout()" value="Logout">
            </button>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
